.button-group-vertical {
width: 30%;
/*float: left;*/
display: inline;
margin: 0 1%;
}
.button-group-vertical button {
width: 100%;
color: white;
border-color: #333;
margin: 0;
}
.button-group-horizontal {
	display: inline-block;
	position: relative;
	width: 30%;
	margin: 0.25em;
	text-align: center;
}
.button-group-horizontal:first-child {
	margin-left: 0;
}
.button-group-horizontal:not(:first-child) {
	position: relative;
	/*left: -10%;*/
}
.button-group-horizontal:last-child {
	left: 0%;
	margin-right: 0;
}
.button-group-horizontal button {
width: 50%;
color: white;
border-color: #333;
display: inline;
float: left;
margin: 0;
}

.left-button {
font-size: 2em;
font-weight: bold;
border-radius: 0.75em 0 0 0.75em;
padding: 1em 1.5em 1em 0.25em;
border-right: none;
}
.right-button {
font-size: 2em;
font-weight: bold;
border-radius: 0 0.75em 0.75em 0;
padding: 1em 0.25em 1em 1.5em;
border-left: none;
}
.up-button {
border-radius: 0.75em 0.75em 0 0;
font-size: 2em;
font-weight: bold;
padding: 0.01em 0.2em 0.6em 0.1em;
border-bottom: none;
}
.down-button {
border-radius: 0 0 0.75em 0.75em;
font-size: 2em;
font-weight: bold;
padding: 0.6em 0.2em 0.01em 0.1em;
margin-right: 1em;
border-top: none;
}

.lowGoal {
background-color: #e6bf00;
font-size: 1em;
}
.lowGoal:active {
background-color: #b38c00;
}
.outGoal {
background-color: #CC0000;
font-size: 1em;
}
.outGoal:active {
background-color: #990000;
}
.inGoal {
background-color: #0000CC;
font-size: 1em;
}
.inGoal:active {
background-color: #000099;
}
.block {
background-color: #3ebaed;
font-size: 1em;
}
.block:active {
background-color: #0b87ba;
}
.foul {
background-color: #A0A0A0;
font-size: 1em;
}
.foul:active {
background-color: #777;
}
.techFoul {
background-color: #777;
font-size: 1em;
}
.techFoul:active {
background-color: #444;
}
.button-label-vertical {
	position: relative;
	top: -6.25em;
	pointer-events: none;
}
.button-label-horizontal {
	position: relative;
	/*top: -4.45em;*/
	pointer-events: none;
}

.counter {
	display: none;
}
.counterLabel {
	position: absolute;
	/*top: 1.25em;
	left: -4.1em;*/
	top: 0;
	left: 50%;
	transform: translate(-50%, -60%);
}
.counterDisplay {
	display: inline-block;
	position: absolute;
	top: -45%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.5em;
	font-family: sans-serif;
	z-index: 1;
}

/*Containers*/
.goals {
display: inline-block;
width: 100%;
margin: 0;
}
.goals div {
float: left;
/*display: inline;
margin: 0 1%;*/
}
#auto-goals {
position: relative;
/*top: 30%;*/
}
#penalties {
position: relative;
/*top: 60%;*/
}
